<% @pictures.each do |blog| %>
  <% if blog.category == "picture" %>

    <div id="post">
      <div class="img-polaroid" id=<%= blog.id %>>
        <h3>
          <span class="glyphicon glyphicon-link"></span>
          <%= link_to sanitize(blog.title), blog.url, target: "_blank" %>
        </h3>
        <%= image_tag blog.media, target: "_blank" %>
        <h4 class="text-right">
          <%= link_to blog.blog.name, blog.url, target: "_blank", class: "fi-at-sign" %>
        </h4>
      </div>
    </div>

  <% else %>

      <div id="post">
        <div class="img-polaroid" id=<%= blog.id %>>

          <h3>
            <span class="glyphicon glyphicon-link"></span>
            <%= link_to sanitize(blog.title), blog.url, target: "_blank" %>
          </h3>

          <div class="embed-responsive embed-responsive-4by3">
            <iframe src=<%= blog.media %>
              allowfullscreen="allowfullscreen"
              webkitallowfullscreen="webkitAllowFullScreen"
              mozallowfullscreen="mozallowfullscreen"
              class="embed-responsive-item">
            </iframe>
          </div>
          <h4 class="text-right">
            <%= link_to blog.blog.name, blog.url, target: "_blank", class: "fi-at-sign" %>
          </h4>
        </div>
      </div>

  <% end %>
<% end %>
